---
layout: default
title: Reusable Om Components
---
<h3><span class="octicon octicon-link"></span> Reusable Components for Om written in ClojureScript</h3>

<p>A place to share reusable om components. Pull requests welcome!</p>

<h2>Components</h2>

{% for category in site.categories %}
  <li><a name="{{ category | first }}">{{ category | first }}</a>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}

<ul>
{% for post in site.posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h3><span class="octicon octicon-link"></span> Who made this?</h3>

<p>This is a side-project by <a href="http://petrustheron.com/">Petrus Theron</a>.</p>
